@import "tailwindcss";


.animate-skeliton{
   animation: skeliton 2s infinite ease-in-out both;
   
}
@keyframes skeliton{
    from{
        opacity: 1;
        background-color: #fff;
    
    }
   to{
      opacity: 0;
        background-color: rgb(110, 110, 110);      
   }
}